body{
    height: 100%;
    margin: 0%;
    height: 1600px;
}

.header {
    padding: 20px;
    text-align: center;
    background-color:rgb(235, 212, 197);
    transition: background-color 0.5s ease; 
    height: 100%;
    position: relative;
}

.title{
    position: absolute;
    top: 170%;
    right: 8%;
    font-size: 4.5em;
    color: rgb(29, 29, 29);
    transition: 0.5s ease-in;
}

.title:hover{
    color: rgb(255, 255, 255);

}



p{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; 
    width: 40%;
    font-size: 1.7em;
}

.text-container{
    width: 47%;
    font-size: 1em;
}

#text1{
    overflow: hidden; 
    white-space: nowrap; 
    animation: 
    typing 3s steps(30, end),
    opacity 0,
    type-size ; 
}


@keyframes cursor{
    50% {border-color:transparent;}
    100% {border-color: transparent;}
}

@keyframes typing {
    from { width: 0% }
    to { width: 40% }
}

#text2{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; 
    overflow: hidden; 
    white-space: nowrap; 
    opacity: 0;
    animation: 
    typing2 3s steps(30, end) 3s,
    cursor .4s step-end infinite alternate; 
}
@keyframes typing2 {
    from { width: 0% }
    to { width: 47% }
    0%{ width: 0%; opacity: 0; } 
    1%{ width: 1%; opacity: 1; } 
    100% { width: 47%; opacity: 1; } 
}

.opaque {
    opacity: 1 !important;
}



.arrow{
    position: absolute;
    left: 47%;
    top: 60%;
    opacity: 0;
    animation-name: arrow;
    animation-duration: 5s;
    animation-delay: 7s;
    animation-iteration-count: infinite;

}

@keyframes arrow{
    0%{opacity: 1;}
    50%{opacity: 0.5;}
    100%{opacity: 1;}

}

.abel-regular {
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.Abandoned{
    color: rgb(255, 255, 255);
    font-size: xx-large;
    position: absolute;
    left: 20%;
    top: 130%;
    font-family: monospace;
    font-weight: lighter;
}



@media screen and (max-width :1500px){

    #text1{
        overflow: hidden; 
        white-space: nowrap; 
        animation: 
        typing 4s steps(40, end),
        opacity 0,
        type-size ; 
    }

    #text2{
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center; 
        overflow: hidden; 
        white-space: nowrap; 
        opacity: 0;
        animation: 
        typing2 4s steps(40, end) 4s,
        cursor .4s step-end infinite alternate; 
    }

    p{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center; 
        width: 55%;
        font-size: 1.4em;
    }

    @keyframes typing {
        from { width: 0% }
        to { width: 55% }
    }

    @keyframes typing2 {
        from { width: 0% }
    to { width: 55% }
    0%{ width: 0%; opacity: 0; } 
    1%{ width: 1%; opacity: 1; } 
    100% { width: 55%; opacity: 1; } 
    }



.arrow{
    position: absolute;
    left: 47%;
    top: 60%;
    opacity: 0;
    animation-name: arrow;
    animation-duration: 5s;
    animation-delay: 9s;
    animation-iteration-count: infinite;

}

@keyframes arrow{
    0%{opacity: 1;}
    50%{opacity: 0.5;}
    100%{opacity: 1;}

}

  }

/*
@media screen and (max-width :800px){


    p{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center; 
        width: 70%;
        font-size: 1em;
    }

    @keyframes typing {
        from { width: 0% }
        to { width: 70% }
    }

    @keyframes typing2 {
        from { width: 0% }
    to { width: 70% }
    0%{ width: 0%; opacity: 0; } 
    1%{ width: 1%; opacity: 1; } 
    100% { width: 70%; opacity: 1; } 
    }

    .title{
        position: absolute;
        top: 180%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center; 
        font-size: 3.5em;
        width: 90%;
        color: rgb(179, 174, 174);
    }


  }*/

  @media screen and (max-width :800px){


    p{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center; 
        width: 70%;
        font-size: .7em;
    }

    @keyframes typing {
        from { width: 0% }
        to { width: 90% }
    }

    @keyframes typing2 {
        from { width: 0% }
    to { width: 90% }
    0%{ width: 0%; opacity: 0; } 
    1%{ width: 1%; opacity: 1; } 
    100% { width: 90%; opacity: 1; } 
    }

    .title{
        position: absolute;
        top: 180%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center; 
        font-size: 2.5em;
        width: 90%;
        color: rgb(179, 174, 174);
    }

    #text1{
        animation: 
        typing 6s steps(60, end),
        opacity 0,
        type-size ; 
    }

    #text2{
        animation: 
        typing2 6s steps(60, end) 3s,
        cursor .4s step-end infinite alternate; 
    }

    .arrow{
        animation-name: arrow;
        animation-duration: 5s;
        animation-delay: 7s;
        animation-iteration-count: infinite;
    
    }

    .Abandoned{
        font-size: large;
      
    }
  }





